html {
    font-family: sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.form-section {
    padding: 1rem;
    margin: 1rem 0;
}

.form-row>label {
    display: block;
}

.column-container {
    margin-bottom: -1rem;
}

.column-container>* {
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
    min-width: 10rem;
}

.templates {
    display: none;
}

form {
    position: relative;
    overflow: hidden;
    padding: 1rem;
}

.container {
    overflow: hidden;
    position: relative;
}

.vornav-result {
    height: 20rem;
    overflow: auto;
}

.spinner-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.spinner-container {
    text-align: center;
    background-color: #8CF;
    border: solid 1px black;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.spinner-overlay .spinner {
    color: #EFF;
    animation-duration: 3s;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    font-size: 400%;
    text-align: center;
    vertical-align: middle;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.tabber-tab {
    display: inline-block;
    background: #CCC;
    padding: 0.75rem 1rem 0.5rem 1rem;
    font-weight: bold;
    margin-right: 0.5rem;
    cursor: pointer;
}

.tabber-tab.active {
    background-color: #EEE;
}

.tabber-body {
    border: solid 0.5rem #EEE;
}
